/************* PERSONAL LIFE ***********/
/************* PERSONAL LIFE ***********/
/************* PERSONAL LIFE ***********/

.life-text p,
.tech-note p {
  color: var(--dark-violet);
  margin-bottom: 25px;
  font-size: 2.4rem;
  line-height: 2em;
}

.life-text li {
  padding-left: 100px;
  font-size: 2.1rem;
  color: black;
}

.personal-life #spotify {
  text-decoration: none;
  color: #1db954;
}

/************ COMPUTING AND NON-COMPUTING SKILLS ***********/
/************ COMPUTING AND NON-COMPUTING SKILLS ***********/
/************ COMPUTING AND NON-COMPUTING SKILLS ***********/

#technical-skills,
#non-technical-skills {
  margin-bottom: 100px;
}

#technical-skills {
  padding-bottom: 20em;
}

.technical-skills .flex,
.non-technical-skills .flex {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  z-index: 1;
}

.technical-skills .card,
.non-technical-skills .card,
.technical-skills .card-child {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
  position: relative;
  padding-bottom: 5px;
  background-color: #333;
  color: white;
  flex-direction: column;
}

.technical-skills .card-child {
  color: #333;
  background-color: #e4c8c8;
  border-radius: 10px;
}

.technical-skills .card,
.technical-skills .card-child,
.technical-skills .color-card {
  padding: 20px;
}

.technical-skills .card h4,
.non-technical-skills .card h4,
.header .card h4,
.technical-skills .card-child h4,
.technical-skills .color-card h4 {
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
}

.technical-skills .card:hover,
.non-technical-skills .card:hover,
.technical-skills .card-child:hover {
  transform: translateY(-15px);
}

.technical-skills img {
  opacity: 1;
  height: 100px;
  width: 102px;
}

#aws {
  height: 100px;
  width: 180px;
}

.technical-skills .card img,
.technical-skills .card-child img {
  max-width: 100%;
  max-height: 100%;
}

.technical-skills .card .rating,
.technical-skills .card-child .rating {
  display: none;
}

.technical-skills .card:hover .rating {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  z-index: 1;
  color: white;
}

.technical-skills .color-card {
  border-radius: 10px;
  border: 2px solid black;
  margin: 2em;
  background-color: #f0f0f0;
}

.technical-skills .color-card h4 {
  margin: auto;
}

.technical-skills .card:hover .rating[data-understanding="level6"] {
  background-color: #ff8c00; /* Level 6 (Dark Orange) */
}

.technical-skills .card:hover .rating[data-understanding="level7"] {
  background-color: #556b2f; /* Level 7 (Dark Olive Green) */
}

.technical-skills .card:hover .rating[data-understanding="level8"] {
  background-color: #483d8b; /* Level 8 (Dark Slate Blue) */
}

.technical-skills .card:hover .rating[data-understanding="level9"] {
  background-color: #008b8b; /* Level 9 (Dark Cyan) */
}

.technical-skills .card:hover .rating[data-understanding="level10"] {
  background-color: #2f4f4f; /* Level 10 (Dark Slate Gray) */
}

.horizontal-card {
  display: flex;
}

.skills-grid {
  display: flex;
  margin: auto;
}

.skills-grid > *:nth-child(2) {
  transform: translateY(20px);
  outline: 1px solid #000;
}

.skills-grid > *:nth-child(3) {
  transform: translateY(40px);
  outline: 1px solid #000;
}

.skills-grid > *:nth-child(4) {
  transform: translateY(60px);
  outline: 1px solid #000;
}

.skills-grid > *:nth-child(5) {
  transform: translateY(80px);
  outline: 1px solid #000;
}

.skills-grid > *:nth-child(6) {
  transform: translateY(60px);
  outline: 1px solid #000;
}

.skills-grid > *:first-child,
.skills-grid > *:last-child {
  outline: 1px solid #000;
}

/********** WORK EXPERIENCE *********/
/********** WORK EXPERIENCE *********/
/********** WORK EXPERIENCE *********/

.work-text dd {
  color: var(--dark-violet);
  margin-bottom: 25px;
  font-size: 2.4rem;
  line-height: 3.95rem;
}

.work-text dt {
  color: black;
  margin-bottom: 25px;
  font-size: 2.65rem;
  line-height: 3.95rem;
  font-weight: bold;
}

.marianos {
  margin-bottom: 50px;
}

.marianos dd,
.mcd dd {
  margin-left: 1em;
  display: list-item;
  list-style-type: disc;
}

/******** EDUCATION *********/
/******** EDUCATION *********/
/******** EDUCATION *********/

.edu-text p,
.pub-text p {
  color: var(--dark-violet);
  margin-bottom: 25px;
  font-size: 2.4rem;
  line-height: 3.95rem;
}

.edu-text span,
.pub-text span {
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

.edu-text .enrollment {
  margin-bottom: 2em;
  text-align: center;
}

.edu-text a {
  text-decoration: none;
  color: #054696;
}

.edu-text #uni {
  color: #e4002b;
}

.coursework .container .coursework-content ul {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
}

.coursework .container .coursework-content h4 {
  font-size: 2em;
}

.coursework .container .coursework-content ul li ul li {
  margin: 1em;
  list-style-type: disc;
}

.coursework-ul {
  padding: 1em;
  justify-content: center;
  margin: auto;
  display: flex;
}

.coursework .container .coursework-content ul .course-item {
  color: white;
  background-color: #000;
  margin: 2em;
}

.course-item {
  border-radius: 20px;
  padding: 2em;
}

.course-item ul {
  margin: auto;
  justify-content: center;
  display: flex;
}

.coursework .container .coursework-content ul li ul {
  flex-direction: column;
  display: flex;
}

.coursework .container .coursework-content ul li ul li {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 1.5em;
}

.coursework .container .coursework-content ul li ul li span {
  border-bottom: 1px solid white;
}

/********** PUBLICATIONS ********/
/********** PUBLICATIONS ********/
/********** PUBLICATIONS ********/

#publications .pub .pub-text p a {
  background-color: yellow;
}

@media only screen and (width <= 1564px) {
  #technical-skills {
    margin-bottom: 100px;
  }
}

@media only screen and (width <= 1530px) {
  #technical-skills {
    margin-bottom: 250px;
  }
}

@media only screen and (width <= 1092px) {
  #technical-skills {
    margin-bottom: 300px;
  }
}

@media only screen and (width <= 1049px) {
  #technical-skills {
    margin-bottom: 400px;
  }
}

@media only screen and (width <= 997px) {
  #technical-skills {
    margin-bottom: 400px;
  }
}
@media only screen and (width <= 720px) {
  #technical-skills {
    margin-bottom: 700px;
  }
}
@media only screen and (width <= 600px) {
  #technical-skills {
    margin-bottom: 800px;
  }
}

@media only screen and (max-width: 1000px) {
  .card .horizontal-card {
    display: flex;
    flex-direction: column;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  span,
  a {
    text-align: center;
  }

  iframe {
    width: 400px;
  }
}
