.technical-skills img {
  opacity: 1;
  height: 256px;
  width: 256px;
}

.technical-skills .card img {
  max-width: 100%;
  max-height: 100%;
}

.technical-skills .card {
  max-width: 390px;
  max-height: 500px;
  padding: 30px;
}

.technical-skills .card h4 {
  font-size: 35px;
  margin-bottom: 10px;
  position: relative;
}

.card h4 a {
  border-bottom: 1px solid white;
  color: white;
}

section .technical-skills {
  padding-bottom: 150px;
}

.technical-skills {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  z-index: 1;
}

.technical-skills .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
  position: relative;
  padding-bottom: 5px;
  width: 400px;
  height: 500px;
  background-color: #333;
  color: white;
  flex-direction: column;
}

.div-header-p {
  color: var(--dark-violet);
  margin-bottom: 25px;
  font-size: 2.4rem;
  line-height: 2em;
}

.card p {
  color: white;
  font-size: 1.8rem;
  line-height: 1.7em;
}

.flex .card .conversion-img {
  max-height: 230px;
}
